VITE_GOOGLE_API_KEY=AIzaSyAhFoxHCmeSa6klMeyprPgVMUOJTZqOvhM
VITE_GOOGLE_CLIENT_ID=661370941386-kh3jckkdroh49p16ll1p91dacbsnehvr.apps.googleusercontent.com
VITE_GOOGLE_DRIVE_FOLDER_ID=1kGAfWmPBxasGTnFXSNd4WxyNVLkJRpYv
#Gemini
VITE_GEMINI_API_KEY=AIzaSyChjRPN5h_fOSlXJSJm_K8woTT8nxuHf10
